body{
background-color:beige;
margin:0;
padding: 0;
}

#heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: brown;
    background-color: burlywood;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 5%;
    margin-top: auto;
}

#img1{
    width: 45px;
    height: 45px;
    
}


#p1{
font-size: 19px;
color:burlywood;
text-align: left;
}
body{
    background-color: cornsilk;
}
.right img{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

*{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
#Header{
    background-color: beige;
    padding: 20px 0px 30px 0px;

}
#mainheader{
  color: brown;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 20;
  padding-left: 20px ;

}

.mainheaderspan{
    font-weight: 100;
    color: burlywood;
    font-style: italic;
    
}
#heading{
    width:50%;
    background-color: red;
   }
.navigation{
    width: 50%;

}

nav ul{
    list-style: none;
    display: flex;
    /* background: red; */
    margin-top: 20px;

}
nav ul li a{
    list-style: none; 
    text-decoration: none;  
    color: maroon;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    padding: 40px;
    
    
}
.books{
    width: 50%;
    float: left;
}
.genre li {
    
    font-size: 15px;
    padding: 0px;
    color: brown; 
    list-style: none;
     width: 300px;

   
}
.inp1{
padding-left: 3px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
}

.btn1{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

div #heading span{
    color: black;
}
.img3 img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background:brown;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    line-height: 30px;
}
.genre{
    overflow-y: scroll;
    width: 250px;
    height:350px;
    list-style: disc;
    padding-left: 5px;
    float: left;
    
   
      
}
li{
    margin-left: 0;
    padding: 0;
  
}
.right{
    background-image:url("./photos/prateek-katyal-_YzGQvASeMk-unsplash\ \(1\).jpg") ;
    width: 100%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.right h2{
padding-left: 50px;
padding-right: 40px;
padding-top: 160px;
padding-bottom: 50px;
font-size: 50px;
color: beige;
}

.lists{
    width: 50%;
    float: right;
    background-color: yellow;
    padding: 0;
    margin: 0;
    

    
}
.lists nav ul li {
    display: flex;
    width: 50px;
    padding: 12px;
}
.jobberleft{
    width: 100%;
    padding: 0;
    padding-left: 10px;
}

.wrap{
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    margin-top: 0px;
    padding-left: 15%;
    padding-top: 0%;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    width: 350px;
    background-color: #fff;
    float: left;
    margin: 5px;
    margin-top: 0%;
    padding: 0%;
    border-radius: 15px;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: black;
    list-style:none;
    padding-top: 0%;
    padding-bottom: 2.5%;
    
}
.card img{
  padding-top: 0%;
}
.cont .icons a i{
    padding: 3;
    align-items: center;
    justify-content: space-between;
}
.top{
    font-size: 20px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: 20%;
}
.print{
    font-weight: 600;
}
.icons{
    font-weight: 400;
}
#author{
    font-weight: 800;
    
}
#authorsTitle{
    font-size: 50px;
}

